#kkk {
  color: aquamarine;
}
#rrr {
  color: rgb(182, 127, 255);
}
#ttt {
  color: bisque;
}
#yyy {
  color: black;
}
#uuu {
  color: rgb(216, 139, 22);
}
#ooo {
  color: rgb(43, 226, 67);
}
#ppp {
  color: red;
}
#aaa {
  color: green;
}
